@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-coffee-900 text-white;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-coffee-700 rounded-full;
}